@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    scroll-behavior: smooth;
}

*:focus-visible {
    outline: solid 3px #000;
    border-radius: 5px;
}

#carrito-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    z-index: 9999;
}

#carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 80%;
    gap: 1rem;
}

#carrito-menu-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#carrito-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
}

#carrito-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 90%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    border-bottom: solid 2px #000;
    border-top: solid 2px #000;
}

#carrito-body p {
    margin: auto 1rem;
    align-self: center;
}

.carrito-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #000;
    padding: 1rem;
    width: -webkit-fill-available;
    box-shadow: 2px 2px 0 0 #000;
}

.carrito-product-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-right: 10px;
}

.carrito-product-image img {
    max-width: 50px;
}

.carrito-product-image h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.carrito-product-info {
    display: flex;
    flex-direction: column;
    min-width: 60%;
}

.carrito-product-info p {
    margin: .5rem !important;
}

#buy-button {
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s ease;
}

#buy-button:focus {
    background-color:   #d7e56c;
    color: #000;
}

#carrito-localStorage {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
}

.carrito-localStorage-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.carrito-localStorage-button:hover {
    cursor: pointer;
}

.carrito-localStorage-button:active {
    transform: translateY(5px);
}

.carrito-localStorage-button p {
    font-size: .9rem;
}

#carrito-button {
    display: flex;
    position: sticky;
    top: 0px;
    max-width: 1400px;
}

#carrito-button-body {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #ccd5ae;
    z-index: 9999;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccd5ae;
    padding: 1rem;
    text-align: center;
}

.search-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #ccd5ae;
    padding: 1rem;
    text-align: center;
}

#filters-container {
    max-width: 800px;
}

#product-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ccd5ae;
    padding: 10px;
    gap: 10px;
}

#product-filter button{
    padding: 5px;
    border: 2px solid #e9edc9;
    background-color: #e9edc9;
    cursor: pointer;
    font-size: 16px;
}

#product-filter button:active {
    transform: scale(1.05);
}

#filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ccd5ae;
    width: 100%;
    justify-content: space-evenly;
}

#filters select {
    width: 100%;
    padding: 5px;
    border: 1px solid #e9edc9;
    background-color: #fff;
    font-size: 16px;
}

#category-selector {
    text-transform: capitalize;
}

#filters select:active {
    outline: none;
}

#search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #ccd5ae;
    padding: 10px;
}

#search-container input {
    width: 100%;
    padding: 5px;
    border: 1px solid #e9edc9;
    background-color: #fff;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
}

#search-container button {
    padding: 5px;
    border: 1px solid #e9edc9;
    background-color: #e9edc9;
    cursor: pointer;
    font-size: 16px;
}

#search-container button:active {
    transform: scale(1.05);
}

#show-amount-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
    font-size: 1rem;
}

#show-amount {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #e9edc9;
    font-size: 1rem;
}

.product-grid {
    max-width: 1400px;
    min-height: 36vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto 2rem auto;
    gap: 1rem;
}

#img-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 2rem;
    gap: 2rem;
}

#img-grid figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    border: 2px solid #000;
    background-color: #fff;
    width: 220px;
    align-items: center;
    overflow: visible;
    gap: 0.5rem;
}

#img-grid figure img {
    max-height: 150px;
    max-width: 150px;
    height: auto;
}   

.out-of-stock {
    filter: grayscale(1) opacity(0.5);
    pointer-events: none;
    user-select: none;
}

.in-cart {
    transition: all 0.3s ease;
    box-shadow: 0 0 0 8px #d7e56c !important;
}

.in-cart:hover {
    transform: none !important;
}

#img-grid figure h4 {
    font-size: 1.1rem;
    text-align: center;
    margin: 1rem 0;
    background-color: #ccd5ae;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 0 rgb(0 0 0);
    width: -webkit-fill-available;
    max-height: 42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#img-grid figure h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

#img-grid figure p {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

#img-grid figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selector-container {
    display: flex;
    margin: 0.5rem;
}

.selector-container button {
    padding: 5px 10px;
    border: 1px solid #e9edc9;
    background-color: #e9edc9;
    cursor: pointer;
    font-size: 16px;
}

.selector {
    text-align: center;
    background-color: #ccd5ae;
    padding: 5px;
    width: 1.5rem;
    border: 1px solid #e9edc9;
}

.selector:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hidden {
    transform: translateY(200%);

}

.hidden-text {
    font-size: 0;
    overflow: hidden;
    color: #d7e56c;
    /* transform: scaleY(0); */
}

.no-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccd5ae;
    padding: 1rem;
    text-align: center;
    margin: 8rem 0;
}

#total-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    padding: 1rem;
    border: 4px solid #000;
    background-color: #d7e56c;
    box-shadow: 8px 8px 0 rgb(0 0 0);
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
}

#total-button div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#total-button p {
    margin: 0;
    font-weight: 400;
}

footer {
    background-color: #ccd5ae;
    padding-bottom: 10rem;
}

.footer-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
    max-width: 1400px;
    padding-top: 2rem;
}

#footer-left {
    display: flex;
    justify-content: center;
}

.button {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border: 1px solid #e9edc9;
    background-color: #e9edc9;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 8px 8px 0 rgb(0 0 0);
    border: 2px solid #000;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 2px 2px 0 rgb(0 0 0);
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.5rem;
}

#subscription-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#subscription-form input {
    padding: 5px;
    border: 1px solid #e9edc9;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #e9edc9;
}

#subscription-form button {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #000;
    background-color: #e9edc9;
}

@keyframes tada {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    10%, 20% {
      -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%, 50%, 70%, 90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%, 60%, 80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

#subscription-form button:focus {
    animation: tada 1s;
}

.contact-icons a img {
    width: 30px;
    height: 30px;
    margin: .5rem;
    padding: 0;
    mix-blend-mode: overlay;
}

.contact-icons a {
    display: inline-flex;
}

/* bounce up and down */
@keyframes dot {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#dot-1 {
    animation: dot 1s infinite;
    animation-delay: 0ms;
    margin-left: -20px;
}

#dot-2 {
    animation: dot 1s infinite;
    animation-delay: 100ms;
    margin-left: -20px;
}

#dot-3 {
    animation: dot 1s infinite;
    animation-delay: 200ms;
    margin-left: -20px;
}

@media (min-width: 780px) {
    #carrito {
        max-width: 700px;
    }

    #carrito-close-button:hover{
        cursor: pointer;
    }

    #buy-button:hover {
        background-color:   #d7e56c;
        color: #000;
    }

    .carrito-product-image {
        flex-direction: row;
    }

    #search-container button:hover {
        background-color: #fff;
    }

    #img-grid figure:hover {
        box-shadow: 5px 5px 0 #000;
        transform: translate(0, -2px);
    }

    #product-filter {
        flex-direction: row;
    }

    #filters {
        flex-direction: row;
    }
    
    #product-filter button:hover{
        background-color: #fff;
    }
    
    .out-of-stock:hover {
        box-shadow: none !important;
        transform: none !important;
    }
    
    #total-button:hover {
        background-color: #fff;
        transform: translate(0, -4px);
        box-shadow: 10px 14px 0 rgb(0 0 0);
    }

    .footer-container {
        flex-direction: row;
        margin: 0 auto;

    }

    #footer-left {
        width: 33%;
    }

    .subscription {
    width: 33%;
    }

    .spacer {
        width: 33%;
    }

}
