@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#imgGridProduct {
    gap: 2rem;
    grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8" "img9 img10 img11 img12";
}

#imgGridProduct figure:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

#imgGridProduct figure figcaption {
    margin: 1rem;
    max-width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
}

#imgGridProduct figure figcaption p {
    margin: 10px 0;
}

#inicio {
    grid-template-areas: ". . . ." ". h2 h2 ." ". h3 h3 ." ". . . . " ". btn btn .";
}

#productos {
    grid-template-areas: ". . . . " ". h2 h2 ." ". h3 h3 ." ". . . . " ". filter filter .";
}

#nosotras {
    grid-template-areas: ". . . ." ". h2 h2 ." ". h3 h3 ." ". . . .";
}

#contacto {
    grid-template-areas: ". . . ." ". . . ." ". h2 h2 ." ". h3 h3 ." ". . . .";
}

#faqs {
    grid-template-areas: ". . . ." ". . . ." ". h2 h2 ." ". h3 h3 ." ". . . .";
}

#paginatorFirst {
    border-radius: 10px 0 0 10px;
}

#paginatorLast {
    border-radius: 0 10px 10px 0;
}

#referFAQs {
    background-color: #fff;
    grid-template-areas: ". img" "titleParagraph img" "btn img" ". img";
}

#envios {
    grid-area: envios;
}

#compras {
    grid-area: compras;
}

#devoluciones {
    grid-area: devoluciones;
}

#formName {
    grid-area: formName;
}

#formEmail {
    grid-area: formEmail;
}

#formSubject {
    grid-area: formSubject;
}

#formPhone {
    grid-area: formPhone;
}

#formMessage {
    -ms-grid-column-span: 2;
    grid-area: formMessage;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e5e9f2;
}

.navbar {
    padding: 2%;
    z-index: 1;
}

.navbar-collapse img {
    max-height: 40px;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-collapse img:active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.bg-light {
    color: #47525e;
    background-color: #e5e9f2 !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #47525e !important;
    margin: 0 1rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.active {
    font-weight: 600;
}

.header {
    background-color: #e5e9f2;
    padding: 20px;
    text-align: center;
    color: #47525e;
    padding: 20px 0 70px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navList {
    margin: 0 1rem 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-area: nav;
}

.navList li {
    list-style-type: none;
    margin: 10px 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navList li:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

ul li a {
    text-decoration: none;
    color: #47525e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #47525e;
    grid-area: h1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #47525e;
    -ms-grid-column-span: 2;
    grid-area: h2;
    margin: 0 1rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #47525e;
    grid-area: h3;
    margin: 0 1rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #47525e;
    grid-area: h4;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #47525e;
    grid-area: h5;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 1rem;
    grid-area: p;
    text-align: left;
}

a {
    text-decoration: none;
}

button {
    background-color: #47525e;
    color: #e5e9f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    padding: .7rem 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.button,
.buttonSecondary {
    grid-area: btn;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button:hover,
.buttonSecondary:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.button:active,
.buttonSecondary:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.button button img,
.buttonSecondary button img {
    height: 1rem;
    margin: 0 0 0 10px;
}

.buttonSecondary {
    background-color: #fff;
    color: #47525e;
    grid-area: sbtn;
}

input {
    border: none;
    border-radius: 10px;
    padding: .7rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

#mensaje {
    width: 560px;
    height: 160px;
    max-width: 560px;
    min-width: 560px;
    min-height: 20px;
}

textarea {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}

select {
    background-color: #fff;
    color: #47525e;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px;
    width: 200px;
}

.productFilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column-span: 2;
    grid-area: filter;
}

.searchBox {
    background-color: #e5e9f2;
    color: #47525e;
    grid-area: srch;
}

.form {
    grid-area: form;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "formName formEmail" "formSubject formPhone" "formMessage formMessage" "sbtn btn";
}

.threeImgSquare {
    background-color: #fff;
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.threeImgSquare figure {
    background-color: #fff;
    margin: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.threeImgSquare figure:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}

.threeImgSquare figure figcaption {
    padding: 15px 0;
    max-width: 375px;
    text-align: center;
}

.threeImgSquare figure figcaption p {
    text-align: center;
}

.threeImgSquare figure img {
    margin: 1rem;
    max-width: 375px;
}

.leftImage {
    background-color: #e5e9f2;
    padding: 70px 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-template-areas: "titleParagraph img";
}

.leftImage img {
    max-width: 500px;
}

.titleParagraph {
    width: 430px;
    grid-area: titleParagraph;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
}

img {
    grid-area: img;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.mediaShow {
    background-color: #fff;
    padding: 70px 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mediaShow .carousel-container {
    margin: auto;
    width: 60%;
}

.mediaShow .carousel-container .carousel {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mediaShow .carousel-container .carousel .carousel-cell {
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
    margin: 1rem;
}

.mediaShow .carousel-container .carousel .carousel-cell img {
    margin: 10px;
    max-width: 300px;
    max-height: 100%;
    padding: 1rem;
}

.imgGrid {
    grid-area: imgGrid;
    margin: 50px 0;
    gap: 1rem;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    justify-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.imgGrid figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px 1px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.imgGrid figure img {
    max-width: 270px;
    max-height: 270px;
    border-radius: 10px;
}

.imgGrid div figure {
    width: 270px;
}

.imgGrid div figure figcaption {
    padding: 15px 0;
    text-align: justify;
}

footer {
    background-color: #47525e;
    padding: 50px 0;
    display: -ms-grid;
    display: grid;
    gap: 5rem;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-template-areas: "footNav subs btn";
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer button {
    background-color: #e5e9f2;
    color: #47525e;
}

.footNavList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    grid-area: footNav;
}

.footNavList a {
    text-decoration: none;
    color: #e5e9f2;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.footNavList li {
    list-style-type: none;
    margin: 10px 10px;
}

.contactIcons {
    grid-area: icons;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
}

.contactIcons a img {
    height: 20px;
    margin: 0 10px;
}

.subscription {
    grid-area: subs;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.subscription form p {
    color: #e5e9f2;
    text-align: center;
}

.subscription form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filterDark {
    -webkit-filter: invert(27%) sepia(2%) saturate(4986%) hue-rotate(172deg) brightness(91%) contrast(72%);
    filter: invert(27%) sepia(2%) saturate(4986%) hue-rotate(172deg) brightness(91%) contrast(72%);
}

.filterLight {
    -webkit-filter: invert(96%) sepia(3%) saturate(2024%) hue-rotate(186deg) brightness(101%) contrast(90%);
    filter: invert(96%) sepia(3%) saturate(2024%) hue-rotate(186deg) brightness(101%) contrast(90%);
}

.img1 {
    grid-area: img1;
    margin: 0;
    padding: 0;
}

.img2 {
    grid-area: img2;
    margin: 0;
    padding: 0;
}

.img3 {
    grid-area: img3;
    margin: 0;
    padding: 0;
}

.img4 {
    grid-area: img4;
    margin: 0;
    padding: 0;
}

.img5 {
    grid-area: img5;
    margin: 0;
    padding: 0;
}

.img6 {
    grid-area: img6;
    margin: 0;
    padding: 0;
}

.searchHeader {
    margin: 0 2rem;
    grid-area: searchHeader;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    grid-template-areas: "p srch";
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.productGrid {
    background-color: #fff;
    padding: 70px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    gap: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: stretch;
    grid-template-areas: "searchHeader" "imgGrid" "paginator";
}

.paginator {
    grid-area: paginator;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.paginator button {
    background-color: #e5e9f2;
    border: none;
    color: #47525e;
    padding: 10px;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    width: 36px;
    height: 36px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 0;
}

.videoShow {
    background-color: #fff;
    padding: 70px 10px;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-areas: "h3" "p" "vid";
}

.video {
    grid-area: vid;
    border-radius: 20px;
    margin-top: 2rem;
    width: 100%;
    height: 400px;
    border: none;
}

.mapEmbed {
    background-color: #fff;
    padding: 70px;
    text-align: center;
}

.directionInfo {
    background-color: #fff;
    width: 400px;
    padding: 30px;
    text-align: left;
}

.threeImgEllipse {
    background-color: #e5e9f2;
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1rem;
}

.threeImgEllipse figure {
    width: 375px;
    text-align: center;
    margin: 0 1rem;
}

.threeImgEllipse figure figcaption {
    padding: 15px 0;
    margin-top: 15px;
}

.threeImgEllipse figure figcaption p {
    text-align: center;
}

.threeImgEllipse figure img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.2);
}

#userCande {
    grid-area: cande;
}

#userVale {
    grid-area: vale;
}

#userMeli {
    grid-area: meli;
}

.contactForm {
    background-color: #e5e9f2;
    padding: 70px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    grid-template-areas: "h3" "form";
}

.faqGrid {
    background-color: #fff;
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
}

.faqGrid section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.question h4 {
    padding: 1rem;
    background-color: #e5e9f2;
    border-radius: 10px;
}

.question p {
    text-align: left;
}

@media only screen and (max-width: 1300px) {
    .navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
        margin: 2%;
        padding: 1%;
        border-radius: 10px;
        background-color: #fff !important;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 1px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 1px;
    }
    inicio {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". . . ." ". btn btn .";
    }
    productos {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". . . ." ". filter filter .";
    }
    nosotras {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". . . .";
    }
    contacto {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". . . .";
    }
    faqs {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3";
    }
    #inicio {
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    #productos {
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    #nosotras {
        -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #contacto {
        -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #faqs {
        -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .navList {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 1rem;
    }
    .threeImgSquare {
        padding: 70px 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .leftImage {
        grid-template-areas: "img" "titleParagraph";
    }
    .mediaShow .carousel-container {
        width: 80%;
    }
    #imgGridIndex {
        grid-template-areas: "img1" "img1" "img2" "img3" "img4" "img4" "img5" "img6";
    }
    #imgGridProduct {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .threeImgEllipse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-areas: "cande" "vale" "meli";
    }
    .threeImgEllipse figure {
        max-width: 80%;
    }
    .mapEmbed {
        padding: 70px 0;
    }
    .faqGrid section {
        width: 80%;
    }
    .question {
        max-width: 100%;
    }
    #referFAQs {
        grid-template-areas: "img ." "titleParagraph btn";
    }
    #referFAQs img {
        display: none;
    }
    footer {
        gap: 2rem;
        grid-template-areas: "footNav" "subs" "btn";
    }
    .footNavList {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
    .subscription form div {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {
    .header {
        -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #inicio {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". btn btn .";
    }
    #productos {
        padding-left: 1rem;
        padding-right: 1rem;
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" "filter filter filter filter";
    }
    #nosotras {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". . . .";
    }
    #contacto {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". . . .";
    }
    #faqs {
        grid-template-areas: ". . . ." "h2 h2 h2 h2" "h3 h3 h3 h3" ". . . .";
    }
    .navList {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        margin: 0 1.5rem;
    }
    .threeImgSquare {
        padding: 70px 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1.5rem;
    }
    .threeImgSquare figure {
        width: auto;
    }
    .threeImgSquare figure img {
        width: 290px;
    }
    .titleParagraph {
        width: 80%;
        text-align: center;
        gap: 1rem;
    }
    .leftImage img {
        width: 80%;
    }
    .mediaShow .carousel-container {
        margin: 0 10px;
        width: 100%;
    }
    #imgGridIndex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #imgGridIndex img {
        width: 80%;
    }
    .searchHeader {
        justify-items: center;
        grid-template-areas: "p" "srch";
    }
    #imgGridProduct {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .video {
        width: 100%;
        height: 200px;
    }
    .faqGrid section {
        width: 90%;
    }
    #referFAQs {
        grid-template-areas: "img" "titleParagraph" "btn";
    }
    #referFAQs h3 {
        text-align: left;
    }
    .contactForm {
        text-align: center;
    }
    .form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #mensaje {
        width: 282px;
        max-width: 282px;
        min-width: 282px;
    }
    .footNavList {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


/*# sourceMappingURL=style.css.map */